In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("dataset.csv")

In [4]:
df.head()

,encounter_id,patient_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,icu_admit_source,...,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem,Unnamed: 83,hospital_death
0,66154,25312,118,68.0,22.73,0,Caucasian,M,180.3,Floor,...,1.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular,NaN,0
1,114252,59342,81,77.0,27.42,0,Caucasian,F,160.0,Floor,...,1.0,0.0,0.0,0.0,0.0,0.0,Respiratory,Respiratory,NaN,0
2,119783,50777,118,25.0,31.95,0,Caucasian,F,172.7,Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic,NaN,0
3,79267,46918,118,81.0,22.64,1,Caucasian,F,165.1,Operating Room / Recovery,...,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular,NaN,0
4,92056,34377,33,19.0,NaN,0,Caucasian,M,188.0,Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,Trauma,Trauma,NaN,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91713 entries, 0 to 91712
Data columns (total 85 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   encounter_id                   91713 non-null  int64
 1   patient_id                     91713 non-null  int64
 2   hospital_id                    91713 non-null  int64
 3   age                            87485 non-null  float64
 4   bmi                            88284 non-null  float64
 5   elective_surgery               91713 non-null  int64
 6   ethnicity                      90318 non-null  object
 7   gender                         91688 non-null  object
 8   height                         90379 non-null  float64
 9   icu_admit_source               91601 non-null  object
 10  icu_id                         91713 non-null  int64
 11  icu_stay_type                  91713 non-null  object
 12  icu_type                       91713 non-null  object
 13  pre_icu_los_days               91713 non-null  float64
 14  weight                         88993 non-null  float64
 15  apache_2_diagnosis             90051 non-null  float64
 16  apache_3j_diagnosis            90612 non-null  float64
 17  apache_post_operative          91713 non-null  int64
 18  arf_apache                     90998 non-null  float64
 19  gcs_eyes_apache                89812 non-null  float64
 20  gcs_motor_apache               89812 non-null  float64
 21  gcs_unable_apache              90676 non-null  float64
 22  gcs_verbal_apache              89812 non-null  float64
 23  heart_rate_apache              90835 non-null  float64
 24  intubated_apache               90998 non-null  float64
 25  map_apache                     90719 non-null  float64
 26  resprate_apache                90479 non-null  float64
 27  temp_apache                    87605 non-null  float64
 28  ventilated_apache              90998 non-null  float64
 29  d1_diasbp_max                  91548 non-null  float64
 30  d1_diasbp_min                  91548 non-null  float64
 31  d1_diasbp_noninvasive_max      90673 non-null  float64
 32  d1_diasbp_noninvasive_min      90673 non-null  float64
 33  d1_heartrate_max               91568 non-null  float64
 34  d1_heartrate_min               91568 non-null  float64
 35  d1_mbp_max                     91493 non-null  float64
 36  d1_mbp_min                     91493 non-null  float64
 37  d1_mbp_noninvasive_max         90234 non-null  float64
 38  d1_mbp_noninvasive_min         90234 non-null  float64
 39  d1_resprate_max                91328 non-null  float64
 40  d1_resprate_min                91328 non-null  float64
 41  d1_spo2_max                    91380 non-null  float64
 42  d1_spo2_min                    91380 non-null  float64
 43  d1_sysbp_max                   91554 non-null  float64
 44  d1_sysbp_min                   91554 non-null  float64
 45  d1_sysbp_noninvasive_max       90686 non-null  float64
 46  d1_sysbp_noninvasive_min       90686 non-null  float64
 47  d1_temp_max                    89389 non-null  float64
 48  d1_temp_min                    89389 non-null  float64
 49  h1_diasbp_max                  88094 non-null  float64
 50  h1_diasbp_min                  88094 non-null  float64
 51  h1_diasbp_noninvasive_max      84363 non-null  float64
 52  h1_diasbp_noninvasive_min      84363 non-null  float64
 53  h1_heartrate_max               88923 non-null  float64
 54  h1_heartrate_min               88923 non-null  float64
 55  h1_mbp_max                     87074 non-null  float64
 56  h1_mbp_min                     87074 non-null  float64
 57  h1_mbp_noninvasive_max         82629 non-null  float64
 58  h1_mbp_noninvasive_min         82629 non-null  float64
 59  h1_resprate_max                87356 non-null  float64
 60  h1_resprate_min                87356 non-null  float64
 61  h1_spo2_max                    87528 non-null  float64
 62  h1_spo2_min                    87528 non-null  float64
 63  h1_sysbp_max                   88102 non-null  float64
 64  h1_sysbp_min                   88102 non-null  float64
 65  h1_sysbp_noninvasive_max       84372 non-null  float64
 66  h1_sysbp_noninvasive_min       84372 non-null  float64
 67  d1_glucose_max                 85906 non-null  float64
 68  d1_glucose_min                 85906 non-null  float64
 69  d1_potassium_max               82128 non-null  float64
 70  d1_potassium_min               82128 non-null  float64
 71  apache_4a_hospital_death_prob  83766 non-null  float64
 72  apache_4a_icu_death_prob       83766 non-null  float64
 73  aids                           90998 non-null  float64
 74  cirrhosis                      90998 non-null  float64
 75  diabetes_mellitus              90998 non-null  float64
 76  hepatic_failure                90998 non-null  float64
 77  immunosuppression              90998 non-null  float64
 78  leukemia                       90998 non-null  float64
 79  lymphoma                       90998 non-null  float64
 80  solid_tumor_with_metastasis    90998 non-null  float64
 81  apache_3j_bodysystem           90051 non-null  object
 82  apache_2_bodysystem            90051 non-null  object
 83  Unnamed: 83                    0 non-null      float64
 84  hospital_death                 91713 non-null  int64
dtypes: float64(71), int64(7), object(7)
memory usage: 59.5+ MB

In [6]:
# Drop one or more columns by their names
columns_to_drop = ['encounter_id', 'patient_id', 'hospital_id', 'icu_id', 'Unnamed: 83']
df = df.drop(columns=columns_to_drop)

In [7]:
df.isnull()

,age,bmi,elective_surgery,ethnicity,gender,height,icu_admit_source,icu_stay_type,icu_type,pre_icu_los_days,...,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem,hospital_death
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91708,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
91709,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
91710,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
91711,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
91712,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
# Iterate through columns
for column in df.columns:
    if df[column].dtype == 'float64':
        # Handle numeric columns (replace NaN with mean)
        df[column].fillna(df[column].mean(), inplace=True)
    elif df[column].dtype == 'object':
        # Handle categorical columns (replace NaN with mode)
        df[column].fillna(df[column].mode()[0], inplace=True)
df.isnull().sum()

age                            0
bmi                            0
elective_surgery               0
ethnicity                      0
gender                         0
                              ..
lymphoma                       0
solid_tumor_with_metastasis    0
apache_3j_bodysystem           0
apache_2_bodysystem            0
hospital_death                 0
Length: 80, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91713 entries, 0 to 91712
Data columns (total 80 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            91713 non-null  float64
 1   bmi                            91713 non-null  float64
 2   elective_surgery               91713 non-null  int64
 3   ethnicity                      91713 non-null  object
 4   gender                         91713 non-null  object
 5   height                         91713 non-null  float64
 6   icu_admit_source               91713 non-null  object
 7   icu_stay_type                  91713 non-null  object
 8   icu_type                       91713 non-null  object
 9   pre_icu_los_days               91713 non-null  float64
 10  weight                         91713 non-null  float64
 11  apache_2_diagnosis             91713 non-null  float64
 12  apache_3j_diagnosis            91713 non-null  float64
 13  apache_post_operative          91713 non-null  int64
 14  arf_apache                     91713 non-null  float64
 15  gcs_eyes_apache                91713 non-null  float64
 16  gcs_motor_apache               91713 non-null  float64
 17  gcs_unable_apache              91713 non-null  float64
 18  gcs_verbal_apache              91713 non-null  float64
 19  heart_rate_apache              91713 non-null  float64
 20  intubated_apache               91713 non-null  float64
 21  map_apache                     91713 non-null  float64
 22  resprate_apache                91713 non-null  float64
 23  temp_apache                    91713 non-null  float64
 24  ventilated_apache              91713 non-null  float64
 25  d1_diasbp_max                  91713 non-null  float64
 26  d1_diasbp_min                  91713 non-null  float64
 27  d1_diasbp_noninvasive_max      91713 non-null  float64
 28  d1_diasbp_noninvasive_min      91713 non-null  float64
 29  d1_heartrate_max               91713 non-null  float64
 30  d1_heartrate_min               91713 non-null  float64
 31  d1_mbp_max                     91713 non-null  float64
 32  d1_mbp_min                     91713 non-null  float64
 33  d1_mbp_noninvasive_max         91713 non-null  float64
 34  d1_mbp_noninvasive_min         91713 non-null  float64
 35  d1_resprate_max                91713 non-null  float64
 36  d1_resprate_min                91713 non-null  float64
 37  d1_spo2_max                    91713 non-null  float64
 38  d1_spo2_min                    91713 non-null  float64
 39  d1_sysbp_max                   91713 non-null  float64
 40  d1_sysbp_min                   91713 non-null  float64
 41  d1_sysbp_noninvasive_max       91713 non-null  float64
 42  d1_sysbp_noninvasive_min       91713 non-null  float64
 43  d1_temp_max                    91713 non-null  float64
 44  d1_temp_min                    91713 non-null  float64
 45  h1_diasbp_max                  91713 non-null  float64
 46  h1_diasbp_min                  91713 non-null  float64
 47  h1_diasbp_noninvasive_max      91713 non-null  float64
 48  h1_diasbp_noninvasive_min      91713 non-null  float64
 49  h1_heartrate_max               91713 non-null  float64
 50  h1_heartrate_min               91713 non-null  float64
 51  h1_mbp_max                     91713 non-null  float64
 52  h1_mbp_min                     91713 non-null  float64
 53  h1_mbp_noninvasive_max         91713 non-null  float64
 54  h1_mbp_noninvasive_min         91713 non-null  float64
 55  h1_resprate_max                91713 non-null  float64
 56  h1_resprate_min                91713 non-null  float64
 57  h1_spo2_max                    91713 non-null  float64
 58  h1_spo2_min                    91713 non-null  float64
 59  h1_sysbp_max                   91713 non-null  float64
 60  h1_sysbp_min                   91713 non-null  float64
 61  h1_sysbp_noninvasive_max       91713 non-null  float64
 62  h1_sysbp_noninvasive_min       91713 non-null  float64
 63  d1_glucose_max                 91713 non-null  float64
 64  d1_glucose_min                 91713 non-null  float64
 65  d1_potassium_max               91713 non-null  float64
 66  d1_potassium_min               91713 non-null  float64
 67  apache_4a_hospital_death_prob  91713 non-null  float64
 68  apache_4a_icu_death_prob       91713 non-null  float64
 69  aids                           91713 non-null  float64
 70  cirrhosis                      91713 non-null  float64
 71  diabetes_mellitus              91713 non-null  float64
 72  hepatic_failure                91713 non-null  float64
 73  immunosuppression              91713 non-null  float64
 74  leukemia                       91713 non-null  float64
 75  lymphoma                       91713 non-null  float64
 76  solid_tumor_with_metastasis    91713 non-null  float64
 77  apache_3j_bodysystem           91713 non-null  object
 78  apache_2_bodysystem            91713 non-null  object
 79  hospital_death                 91713 non-null  int64
dtypes: float64(70), int64(3), object(7)
memory usage: 56.0+ MB

In [17]:
df.shape

(91713, 80)

In [23]:
gender = df[['gender','hospital_death']]

      gender  hospital_death
0          M               0
1          F               0
2          F               0
3          F               0
4          M               0
...      ...             ...
91708      M               0
91709      F               0
91710      M               0
91711      F               0
91712      F               0

[91713 rows x 2 columns]